body {
    background-image: url(../img/background-img.png);
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html {
    font-family: "Ubuntu";
}

div.header {
    background-color: rgba(0, 0, 0, 0.25);
    height: 58px;
    /* width: 1366px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content:space-between;
}

h1.header-title {
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin: 18px 79px;
    display: block;
    width: 150px;
}

.header-title-link {
    text-decoration: none;
}

h1.header-title:hover {
    color: rgba(1, 129, 63, 1);
}

div.header-logo {
    display: flex;
}

.header-info-text {
    color: white;
    padding: 22px 27px;
}

.header-info {
    margin-right: 52px;
}

div.line {
    box-sizing: border-box;
    border: 1px solid gray;
    height: 20px;
    margin-top: 20px;
    border-radius: 1px;
}

span.info-text:hover {
    color: rgba(1, 129, 63, 1);
}

.header-info-link {
    text-decoration: none;
    color: white;
}

.main {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-svg {
    fill: white;
    margin: 17px 20px ;
}

.header-svg:hover {
    fill: rgba(1, 129, 63, 1);
}

/* FORM */ 

.form {
    background-color: white;
    width: 324px;
    padding: 30px 60px;
    /* position: relative; */
    justify-content: center;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 

.form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

div.green-box {
    width: 18px;
    height: 18px;
    background-color: rgba(60, 184, 120, 1);
    position: absolute;
    left: 0;
}

h1.form-title {
    font-size: 20px;
    font-weight: 400;
    display: block;
}

span.login {
    color: rgba(60, 184, 120, 1);
}

.form-login-link {
    text-decoration: none;
}

span.login:hover {
    text-decoration: underline;
    color: rgba(1, 129, 63, 1);
}

.form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 14px;
    border: 1px solid rgba(242, 242, 242, 1);
    border-radius: 4px;
}

.form input::placeholder {
    font-weight: 400;
    color: rgba(190, 190, 190, 1);
}

.form input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

/* social button */

div.social-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.button-facebook {
    border: none;
    background-color: rgba(48, 93, 184, 1);
    width: 160px;
    height: 48px;
    border-radius: 3px;
    color: white;
}

.button-facebook:hover {
    background-color: rgba(2, 34, 99, 1);
}

.button-google:hover {
    background-color: rgba(171, 31, 9, 1);
}

.button-google {
    border: none;
    background-color: rgba(223, 74, 50, 1);
    width: 160px;
    height: 48px;
    border-radius: 3px;
    color: white;
}

.button-strip-facebook {
    padding-left: 18px;
    border-left: 1px solid rgba(18, 74, 185, 0.586);
}

.button-strip-google {
    padding-left: 18px;
    border-left: 1px solid rgb(185, 56, 40);
}

.fb-logo {
    padding-right: 18px;
}

.g-logo {
    padding-right: 12px;
}

span.line {
    display: block;
    display: flex;
    align-items: center;
}

span.line::before {
    content: "";
    padding-right: 5px;
    width: 152px;
    height: 1px;
    display: block;
    border-bottom: 1px solid rgba(242, 242, 242, 1);
}

span.line::after {
    content: "";
    padding-left: 5px;
    width: 152px;
    height: 1px;
    display: block;
    border-bottom: 1px solid rgba(242, 242, 242, 1);
}

.custom {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid rgba(242, 242, 242, 1);
    display: flex;
    cursor: pointer;
    
}

.custom img {
    display: none;
    width: 100%;
    height: 100%;
}

.custom input[type="checkbox"] {
    display: none;
}

.custom input[type="checkbox"]:checked +img {
    display: inline;
}

.checkbox-txt {
    padding-left: 30px;
    position: absolute;
    padding-top: 3px;
    user-select: none;
    cursor: pointer;
}

.checkbox-hover {
    color: rgba(60, 184, 120, 1);
}

.checkbox-hover:hover {
    color: rgba(1, 129, 63, 1);
    text-decoration: underline;
}

.submit-button {
    border: none;
    background-color: rgba(60, 184, 120, 0.8);
    color: white;
    font-family: "Ubuntu";
    font-weight: 400;
    width: 324px;
    height: 46px;
    border-radius: 4px;
}

.submit-button:hover {
    background-color: rgba(1, 129, 63, 1);
}